@import url('https://fonts.googleapis.com/css?family=Montserrat|Cardo');

@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
  }
}

// colors
$color: #8f8f8f;
$colorDark: #707070;
$color2: #e8f380;


// Navigation
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  @include small {
    padding-top: 20px;
  }
}

.open-nav {
  max-height: 400px !important;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.sticky {
  background-color: #fff;
  opacity: 1;
  top: 0;
  border-bottom: 1px solid lighten($color, 30%);
}

.logo {
  width: 50px;
  font-size: 25px;
  color: $color;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  @include small {
    float: none;
  }
}
#logo {
  width: 35px;
}

nav {
  float: right;
  width: 60%;
  @include small {
    width: 100%;
  }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    margin-top: 0.3em;
    @include small {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
    a {
      color: #888888;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }

  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: $color;
    display: block;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  min-width: 550px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}


// Page Style
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $color;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
  padding: 0 5px 0 5px;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 30px;
}

.ness {
  margin-top: 30px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size:35px;
  min-height: 250px;
  &.row {
    padding: 170px 120px 20px 35px;
    @include small {
      font-size: 30px;
      padding: 60px 80px 20px 35px;
    }
  }
}
.white {
  color: white;
}
.black {
  color: forestgreen;
}

.work-row {
  font-family: "Montserrat", sans-serif;
  color: $color;
  font-weight: normal;
  display: grid;
  place-items: center;
  padding: 50px;
  @include small {
    padding-left: 20px;
    padding-bottom: 80px;
  }
  div.work-company {
    width: 550px;
    line-height: 12px;
    font-size: 20px;
    color: grey;
    img.work-logo {
      float: left;
      width: 170px;
      padding-right: 20px;
    }
    span.work-time {
      color: darkgrey;
      font-size: 16px;
      padding-left: 5px;
    }
    span.work-title {
      line-height: 45px;
      display: block;
    }
  }
}

.about-row {
  font-family: "Montserrat", sans-serif;
  color: $colorDark;
  font-weight: normal;
  place-items: center;
  display: inline-block;
  padding: 0 10px 20px 0;
  min-height: 280px;
  margin-bottom: 20px;
  img {
    float:left;
    height: 280px;
    margin-right: 25px;
    border-radius: 5px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    margin: 5px;
    text-align: justify;
    @include small {
      text-align: start;
    }
  }
}


.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  perspective: 1000px;
  .card-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .card {
    transform-style: preserve-3d;
    min-height: 500px;
    width: 25rem;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
  }
  .sneaker {
    height:250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sneaker img {
    width: 19rem;
    z-index: 2;
  }
  .circle {
    width: 12rem;
    height: 12rem;
    background: linear-gradient(to right, rgba(245,70,66,0.7), rgba(8,83,156,0.7));
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  .info h1{
    display: grid;
    place-items: center;
  }
  .info h3 {
    padding-top:17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    cursor: pointer;
    font-weight: bold;
  }
}
